.baseInfo{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
}
.baseInfo-title {
    position: absolute;
    left: 50px;
    top: -108px;
    font-weight: bold;
    color: red;
    font-size: 18px;
    margin-bottom: 20px;
    width: 100%;
}
.baseInfo-title:before {
    content: '';
    border: 1px solid #c7b9b9;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: calc(100% - 100px);
}
.baseInfo-center{
    display: flex;
    width: 100%;
    /*border-top: 2px solid #efefef;*/
    padding: 30px;
}

.baseInfo-left{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.baseInfo-right{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.baseInfo-avatar-button{
    width: 160px;
    height: 50px;
    border-radius: 10px;
    background-color: #469699;
    margin: 10px;
    color: white;
}

.baseInfo-avatar{
    border: 1px solid #e6e6e6;
}

.baseInfo-avatar-limit{
    margin: auto;
    font-size: 15px;
    color: #ababab;
}

.baseInfo-button-group {
    display: flex;
    justify-content: space-around;
}

.baseInfo-save{
    background-color: #469699;
    border-radius: 10px;
    width: 100px;
    color: white;
}

.baseInfo-form{
    height: 100%;
    width: 80%;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.baseInfo-reset{
    background-color: #469699;
    border-radius: 10px;
    width: 100px;
    color: white;
}

.baseInfo-reset:hover{
    background-color: #a9ced0;
}

.baseInfo-save:hover{
    background-color: #a9ced0;
}

.baseInfo-avatar-button:hover{
    background-color: #a9ced0;
}