.box-office {
  margin: 10px 0;
  width: 100%;
  height: 100%;
}

.box-office-header {
  /* border: 1px #dddddd solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  font-size: 20px;
  font-weight: bold;
}

.box-office-title {
  font-size: 20px;
  color: orange;
}

.box-office-rank-title {
  font-size: 16px;
  color: orange;
}

.box-office-rank-box {
  /* border: 1px #dddddd solid; */
  margin-top: 20px;
  padding: 15px;
  height: 500px;
}

.box-office-rank-one {
  border: 1px #dddddd solid;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.box-office-rank-one:hover {
  cursor: pointer;
  background-color: #efefef;
}

.box-office-rank-one-cover {
  width: 40%;
  height: 100%;
}

.box-office-rank-one-box {
  width: 55%;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-first-movieName {
  font-weight: bold;
  font-size: 18px;
}

.item-first-boxOffice {
  font-size: 16px;
  color: red;
}

.box-office-rank-behind {
  margin-top: 20px;
  width: 100%;
  height: 250px;
}

.box-office-item {
  display: flex;
  justify-content: space-between;
  height: 30px;
  font-size: 18px;
  padding: 30px 0;
  align-items: center;
}
.box-office-item-left {
  width: 60%;
  float: left;
  display: inline-block;
  justify-content: space-around;
}

.box-office-item-right {
  color: red;
  font-size: 16px;
}

.item-movieName {
  width: 75%;
  margin-left: 10px;
  text-align: center;
}
.item-index {
  color: #ee9900;
}
.box-office-item:hover {
  background-color: #efefef;
  cursor: pointer;
}

.icon-crown {
  position: absolute;
  z-index: 2;
  font-size: 30px;
  color: #ee9900;
}
