.movie_desc {
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 2px auto;
  width: 100%;
  height: 20px;
  position: absolute;
  top: 230px;
  left: 0;
  padding: 0 5px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(220, 215, 215));
}
.movie_score {
  color: coral;
}

.home-recent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 10px;
  font-size: 20px;
  color: #3a9ef4;
  font-weight: bold;
}

.fire-icon {
  color: #ff5b5b;
}

.recent-link {
  font-size: 16px;
  color: #3a9ef4;
  margin-right: 12px;
}

.recent-link:hover {
  color: #ff5b5b;
}
.image_style {
  width: 180px;
  height: auto;
  position: relative;
}

.site-card-wrapper .ant-card-body {
  padding: 0;
}

.release-date{
  width: 180px;
  font-size: 16px;
  margin-top: 10px;
  color: #afaab1;
  text-align: center;
}