.ticket-price {
    color: red;
    font-weight: bolder;
}

.ticket-time {
    font-weight: bolder;
}

.ticket-button{
    color: white;
    background-color: red;
    border-radius: 1em;
    padding: 0.3em 0.5em;
}

.title{
    font-size: medium;
    font-weight: 1000;

}
